https://github.com/stacks-network/stacks-core/releases/tag/signer-3.4.0.0.1.0

This release contains bugfixes and improvements to the stacks-node and stacks-signer binaries, ensuring more consistent block production.
This release is compatible with chainstate directories from <!-- first 2 version positions -->.

The version of stacks-node compatible with this release is <!--node_tag-->, available here: https://github.com/stacks-network/stacks-core/releases/tag/ <!--node_tag-->.

This release includes the following changes:

<!-- stacks-signer/changelog.md -->

Docker images have been published to GitHub Container Registry:

* stacks-core: https://github.com/stacks-network/stacks-core/pkgs/container/stacks-core
  ```sh
  docker pull ghcr.io/stacks-network/stacks-core:<!-- node_tag -->
  ```
* stacks-signer: https://github.com/stacks-network/stacks-core/pkgs/container/stacks-signer
  ```sh
  docker pull ghcr.io/stacks-network/stacks-signer:<!-- signer_tag -->
  ```

This release is recommended for all Stacks node operators.
