https://github.com/stacks-network/stacks-core/releases/tag/3.4.0.0.1

This release contains bugfixes and improvements to the stacks-node and stacks-signer binaries, ensuring more consistent block production.
This release is compatible with chainstate directories from <!-- first 2 version positions -->.

The version of stacks-signer compatible with this release is <!--signer_tag-->, available at: https://github.com/stacks-network/stacks-core/releases/tag/signer-<!--signer-tag>.

This release includes the following changes:

<!-- changelog.md -->

Docker images have been published to GitHub Container Registry:

* stacks-core: https://github.com/stacks-network/stacks-core/pkgs/container/stacks-core
  ```sh
  docker pull ghcr.io/stacks-network/stacks-core:<!-- node_tag -->
  ```
* stacks-signer: https://github.com/stacks-network/stacks-core/pkgs/container/stacks-signer
  ```sh
  docker pull ghcr.io/stacks-network/stacks-signer:<!-- signer tag -->
  ```

This release is recommended for all Stacks node operators.
